bower_components/
node_modules/

src/**/*.js
src/**/*.map
src/*.js
src/*.map
tests/unit/**/*.js
tests/unit/**/*.map
tests/_test_all.js
tests/_test_all.js.map
tests/fakeApi/*.js
tests/fakeApi/*.map
tests/integration/*.js
tests/integration/*.map
